:root {
  --primary-color : #8ad4df ;
  --secondary-color : #f5bb75 ;
  --bg-color : #f2f2f2;
  --text-color : #333333 ;
}
*{
  margin: 0%;
  padding: 0%;
}
body{
  color: var(--text-color);
  background-color: var(--bg-color);
  font-family: 'Roboto', sans-serif;; 
}
.primary-btn{
  background-color: var(--primary-color);
}
.primary-btn:hover{
  background-color: #4ebccd !important;
}
.secondary-btn{
  background-color: var(--secondary-color);
}
.secondary-btn:hover{
  background-color : #f5b15e ;
}
.primary-bg{
  background-color: var(--primary-color);
}
.secondary-bg{
  background-color: var(--secondary-color);
}
.accordion-button{
  background-color: var(--primary-color) !important;
  color: var(--text-color) !important;
}
.accordion-button::after{
  color: var(--text-color) !important;
}
.accordion-button:focus{
  box-shadow: none;
  background-color: #4ebccd !important;
  color: black;
}
